<!-- Node for merging magnetometer and accelerometer data into a single imu message -->
<launch>
  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

  #### IMU Driver ###########################################################
<!--
  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet"
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager"
    output="screen"> -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="back_right_madgwick"
    output="screen">
    <!-- remap all the topics that use the imu namespace in the code-->
    <remap from="imu" to="/sensors/inertial/back_right"/>
    <remap from="/sensors/inertial/back_right/data_raw" to="/sensors/inertial/back_right/imu_corrected" />
    <remap from="/sensors/inertial/back_right/data" to="/sensors/inertial/back_right/imu_orientation" />

    <param name="world_frame" value="enu"/>
    <param name="use_mag" value="false"/>
    <param name="fixed_frame" value="odom"/>
    <param name="publish_tf" value="false"/>
    <param name="reverse_tf" value="false"/>
    <param name="publish_debug_topics" value="true"/>
    <param name="remove_gravity_vector" value="false"/>

    <param name="orientation_stddev" value="0.707"/>

    <!-- params with default values -->
    <param name="stateless" value="false"/>
    <param name="constant_dt" value="0.0"/>
    <param name="time_jump_threshold" value="0.0"/>   <!-- allowed jump back in time without resetting the filter -->

    <!-- Filter compensates yaw by a yaw offset equal to (yaw offset - declination) -->
    <param name="yaw_offset" value="0.0"/>
    <param name="declination" value="0.0"/>
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="back_left_madgwick"
    output="screen">

    <!-- remap all the topics that use the imu namespace in the code-->
    <remap from="imu" to="/sensors/inertial/back_left"/>
    <remap from="/sensors/inertial/back_left/data_raw" to="/sensors/inertial/back_left/imu_corrected" />
    <remap from="/sensors/inertial/back_left/data" to="/sensors/inertial/back_left/imu_orientation" />

    <remap from="/imu/data_raw" to="/sensors/inertial/back_left/imu_corrected" />
    <remap from="/imu/data" to="/sensors/inertial/back_left/imu_orientation" />
    <remap from="~orientation_filtered" to="/sensors/inertial/back_left/orientation_filtered" />

    <param name="world_frame" value="enu"/>
    <param name="use_mag" value="false"/>
    <param name="fixed_frame" value="odom"/>
    <param name="publish_tf" value="false"/>
    <param name="reverse_tf" value="false"/>
    <param name="publish_debug_topics" value="true"/>
    <param name="remove_gravity_vector" value="false"/>

    <param name="orientation_stddev" value="0.707"/>

    <!-- params with default values -->
    <param name="stateless" value="false"/>
    <param name="constant_dt" value="0.0"/>
    <param name="time_jump_threshold" value="0.0"/>   <!-- allowed jump back in time without resetting the filter -->

    <!-- Filter compensates yaw by a yaw offset equal to (yaw offset - declination) -->
    <param name="yaw_offset" value="0.0"/>
    <param name="declination" value="0.0"/>

  </node>
</launch>
